**Importing necessary libraries**

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

 **Importing the datasets**

In [ ]:
data_train = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')
X_train=data_train.iloc[:, :-1].values
y_train=data_train.iloc[:, -1].values
X_test1=data_test.iloc[:, : ].values
X_test=data_test.iloc[:, : ].values

**Taking care of missing data**

 *In the training data*

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X_train[:, 0:7])
X_train[:, 0:7] = imputer.transform(X_train[:, 0:7])

*In the test data*

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X_test1[:, 0:7])
X_test1[:, 0:7] = imputer.transform(X_test1[:, 0:7])

**Feature scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:, :] = sc.fit_transform(X_train[:, :])
X_test[:, :] = sc.transform(X_test1[:, :])

**Training the Random Forest Classification model on the Training set**

In [ ]:

from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 400, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=400, random_state=0)

**Pridiction**

In [ ]:
y_pred = classifier.predict(X_test)
y_pred

array([0., 1., 1., 0., 0., 3., 0., 1., 0., 0., 1., 1., 0., 1., 3., 0., 0.,
       0., 1., 0., 1., 0., 0., 1., 0., 0., 1., 2., 0., 0., 2., 1., 0., 0.,
       1., 0., 3., 1., 1., 0., 0., 0., 0., 3., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 2., 0., 0., 0., 3., 1.,
       0., 1., 0., 0., 0., 0., 1., 3., 0., 2., 0., 0., 0., 1., 1., 1., 1.,
       0., 0., 2., 0., 0., 1., 1., 1., 2., 0., 1., 1., 0., 3., 1., 2., 0.,
       1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 1., 3., 1., 1., 0.,
       3., 0., 0., 1., 1., 0., 0., 1., 0., 1., 0., 3., 1., 3., 1., 0., 0.,
       0., 0., 2., 1., 0., 0., 0., 0., 1., 1., 0., 1., 2., 0., 0., 0., 0.,
       0., 3., 0., 1., 0., 0., 0., 0., 0., 1., 0., 2., 3., 0., 0., 0., 0.,
       0., 0., 0., 2., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 2., 1.,
       1., 2., 0., 0., 0., 0., 1., 0., 1., 2., 0., 0., 1., 0., 1., 0., 0.,
       1., 0., 1., 0., 3., 0., 0., 0., 1., 1., 1., 0., 0., 1., 0., 1., 0.,
       0., 2., 1., 2., 1., 0., 1., 3., 1., 1., 1., 0., 0., 0., 1., 0., 2.,
       0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 2., 1., 0., 3., 1., 1., 2.,
       0., 0., 0., 0., 2., 0., 1., 0., 0., 1., 3., 0., 2., 1., 0., 1., 1.,
       0., 0., 2., 0., 1., 0., 0., 0., 2., 3., 0., 0., 0., 0., 3., 1., 3.,
       0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 2., 0., 1., 3., 3., 0., 1., 0., 1., 2.,
       1., 1., 0., 3., 1., 1., 0., 0., 0., 1., 1., 0., 1., 1., 0., 1., 0.,
       0., 0., 0., 1., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 2.,
       0., 0., 0., 1., 1., 0., 0., 1., 1., 3., 0., 3., 2., 0., 1., 3., 0.,
       0., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0., 0., 0., 0., 2., 2., 0.,
       1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 2., 0., 0.,
       0., 0., 0., 1., 3., 1., 1., 0., 0., 0., 0., 0., 0., 2., 1., 1., 0.,
       1., 0., 2., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       1., 0., 1., 0., 2., 0., 3., 1., 2., 0., 0., 3., 0., 2., 0., 0., 1.,
       0., 0., 0., 0., 0., 1., 1., 0., 3., 0., 2., 0., 0., 1., 1., 0., 0.,
       1., 0., 1., 0., 3., 0., 0., 0., 3., 1., 1., 0., 0., 0., 0., 0., 3.,
       0., 0., 0., 0., 0., 1., 1., 0., 1., 1., 1., 0., 1., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1.,
       1., 0., 2., 1., 1., 3., 0., 0., 0., 0., 1., 1., 1., 0., 0., 3., 1.,
       0., 0., 0., 0., 0., 1., 1., 1., 0., 2., 0., 0., 0., 2., 1., 0., 0.,
       1., 1., 0., 0., 3., 0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 1., 0.,
       1., 0., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0., 0., 3.,
       0., 1., 0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 2., 1., 1., 0., 0.,
       2., 3., 0., 3., 0., 1., 2., 0., 1., 1., 2., 0., 0., 3., 0., 0., 0.,
       1., 0., 1., 0., 3., 2., 3., 0., 0., 0., 0., 1., 0., 0., 3., 2., 0.,
       1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 2., 0., 1., 0., 0., 0., 0.,
       0., 1., 0., 1., 3., 1., 1., 0., 0., 1., 0., 1., 1., 0., 1., 1., 1.,
       1., 0., 2., 1., 0., 1., 1., 0., 0., 3., 0., 1., 0., 0., 0., 1., 0.,
       0., 1., 1., 1., 1., 0., 1., 0., 1., 3., 3., 0., 1., 1., 2., 0., 1.,
       0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 3., 0., 1., 1.,
       1., 0., 1., 3., 0., 0., 0., 0., 3., 0., 1., 0., 1., 0., 1., 1., 0.,
       1., 0., 0., 1., 1., 0., 1., 1., 0., 1., 0., 0., 0., 0., 2., 0., 0.,
       1., 1., 1., 1., 1., 0., 0., 0., 1., 1., 0., 2., 0., 0., 3., 0., 0.,
       0., 1., 1., 3., 0., 0., 0., 0., 0., 1., 0., 0., 2., 0., 0., 0., 1.,
       1., 3., 0., 0., 0., 1., 1., 0., 3., 0., 1., 0., 0., 3., 1., 0., 0.,
       1., 0., 0., 0., 0., 2., 1., 0., 0., 2., 0., 1., 1., 3., 1., 1., 1.,
       0., 1., 0., 0., 1., 0., 0., 0., 0., 1., 2., 0., 0., 2., 2., 0., 2.])

In [ ]:
y_pred.shape

(867,)

In [ ]:
y_pred.reshape(867,1)
y_pred=pd.DataFrame(y_pred)
y_pred

       0
0    0.0
1    1.0
2    1.0
3    0.0
4    0.0
..   ...
862  0.0
863  2.0
864  2.0
865  0.0
866  2.0

[867 rows x 1 columns]

In [ ]:
X_test1=pd.DataFrame(X_test1)
a=X_test1.loc[:,0]
a

0      2439.0
1      1213.0
2      2659.0
3        17.0
4      3800.0
        ...
862     416.0
863    1612.0
864    2475.0
865     227.0
866    2922.0
Name: 0, Length: 867, dtype: float64

In [ ]:
frames=[a,y_pred]
result=pd.concat(frames,axis=1,join='inner')
display(result)

          0    0
0    2439.0  0.0
1    1213.0  1.0
2    2659.0  1.0
3      17.0  0.0
4    3800.0  0.0
..      ...  ...
862   416.0  0.0
863  1612.0  2.0
864  2475.0  2.0
865   227.0  0.0
866  2922.0  2.0

[867 rows x 2 columns]

In [ ]:
writer=pd.ExcelWriter('output.xlsx')
result.to_excel(writer,index=False)
writer.save()

In [ ]:
read_file=pd.read_excel('output.xlsx')
read_file.to_csv(r'prediction.csv',index=None,header=True)